### IntelliJ IDEA ###
out/
.idea/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/examples/dependencies/build/
/examples/simpleExample/build/
/examples/examples.iml
/uso-core/src/main/main.iml
/uso-core/src/test/test.iml
/examples/multimodule/multimodule.iml
/examples/parentChild/parentChild.iml
/examples/publish/publish.iml
/ideaPlugin/ideaPlugin.iml
/ideaPlugin/.gradle/
/examples/multimodule/common/common.iml
/examples/parentChild/common/common.iml
/examples/multimodule/subA/subA.iml
/examples/parentChild/subA/subA.iml
/examples/multimodule/subB/subB.iml
/examples/parentChild/subB/subB.iml
/examples/boms/build/
/examples/publish/build/
